header {
    margin: 0 auto;
    text-align: center;
    font-family: Roboto, "Times New Roman";
}

header img {
    width: 250px;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    gap: 15px;
    padding: 0;
    font-size: 25px;
    font-weight: 500;

}

.main-nav a {
    text-decoration: none;
    color:black;
    font-weight: 300;
}

.mainHeader {
    margin-bottom: 2em;
}

.container {
    text-align: center;
    font-family: Roboto, "Times New Roman";
}


header p {
    font-size: 1rem;
}

.portfolioSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    color:blueviolet;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-weight: 500;
    margin-bottom: 5%;
}

h3 {
    text-align: center;
    font-weight: 400;
}

p {
    font-weight: 200;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 50px;
}

.container img {
    width: 250px;
    margin: 0 auto;
}



.listOfSkills ul {
    font-family: Roboto, "Times New Roman";
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 1em;
    text-align: center;
    border-bottom: solid black .25px;
    padding: 0;
}

.listOfSkills ul li {
    margin: 1em 0;
}


.contactSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.contactSection div {
    font-weight:100;
}

.mainFooter div {
    margin-right: 0 auto;
}

footer {
    border-top: .25px solid black;
    font-family: Roboto, "Times New Roman";
}

.footerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 1rem;
}

.footerNav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:black;
    font-weight: 300;
}

.footerNav nav {
    display: none;
}

/* Media queries */

@media screen and (min-width:768px) {

    header p {
        padding-right: 5%;
        margin: 0;
    }

    .main-nav li{
        font-size:15px;
    }

    .container {
        width:90%;
        margin:0 auto;
    }

    .container img {
        width: 100%;
    }
    .main-nav {
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap: 10%;
    }

    .container .personalSection {
        display: flex;
        flex-direction: row-reverse;
    }

    .personalSection {
        margin-bottom: 5rem;
    }

    .personalSection img {
        width: 300px;
    }

    .mainheader p {
        padding-right:10%;
    }

    .portfolioSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .portfolioSection div {
        width: 43vw;
        max-width: 43vw;
    }

    .portfolioSection p {
        max-width: 10x;
        font-size: 16px;
    }

    .personalSection p {
        font-size: 20px;
        text-align: left;
        margin: 0 auto;
        padding-left: 0;
    }
    

    .contactSection {
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        gap: 1rem;
        margin-bottom: 3rem;
        padding: 0 20%;
    }

    .contactSection p {
        margin: 1rem 0;
    }
    

    .footerNav {
        padding: 1em;
    }
    .footerNav nav {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        text-decoration: none;
        list-style-type: none;
    }

    #backToTop {
        display: none;
    }

}

@media screen and (min-width: 1024px) {
        .mainHeader {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
        .main-nav {
            align-items: center;
            margin-left: 0 auto;
        }

        .container {
            display: flex;
            flex-direction: column;
        }

        .personalSection p {
            font-size: 28px;
            padding-right: 6rem;
        }

        .portfolioSection {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 3%;
        }

        .portfolioSection div {
            width: 27vw;
            max-width: 27vw;
        }
}