.main-nav {
    list-style-type: none;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.portfolioSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2, h3, p {
    text-align: center;
}

.container, img {
    width: 100vh;
    margin: 0 auto;
}


/* Media queries */

@media screen and (min-width:768px) {


}

@media screen and (min-width: 1024px) {

}